.grid-container {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    grid-column-gap: 8px;
}

.output{
    position: absolute;
    bottom: 50px;
    font-size: larger;
    font-weight: 400;
}
.parent-container{
    display: flex;
    align-items: center;
    justify-content: center;
}


